//font imports
//@import url();

//font selection
$header-font: sans-serif;
$num-font: sans-serif;
$p-font: sans-serif;

//bkg pattern
//$bg-img: url('../assets/img/filename.jpg');


//colors
$grey: #333333;
$black: #161616;
$whiteish: #d9e1f9;
$gen-font: #e5efff;

$link: #8cb8ff;
$link-hover: #5492f7;

// nav colors
$nav-background: $black;
$nav-text-color: $whiteish;

//clock variables
$clock-text-color: $whiteish;
$clock-bg-color: #4b4e56;  
$clock-border-color: #878c9b;








